{% extends 'healthnet/base.html' %}

{% block main_content %}

{% include "healthnet/header.html" %}

<div id="change_password_container" class="panel panel-info col-md-6">
    <div id="change_password_header" class="panel-heading">
        <h1 class="panel-title">Change Password</h1>
    </div>
    <br/>
    <div id="change_password_form">
        <form method="post">
            {% csrf_token %}
            <ul id="change_password_form_list">
                {{ form.as_p }}
            </ul>
            <input class="btn btn-info" type="submit" name="submit" value="Submit">
            <input class="btn btn-default"type="submit" name="back" value="Back">
        </form>
    </div>
</div>

{% endblock %}
