{% extends 'healthnet/base.html' %}

{% block main_content %}

{% include "healthnet/header.html" %}

<div id="hospital_admin_index_view_common_activities_select_date_container" class="panel panel-info col-md-6">
    <div id="hospital_admin_index_view_common_activities_select_date_header" class="panel-heading">
        <h1 class="panel-title">Select a timeframe</h1>
    </div>
    <br/>
    <div id="hospital_admin_index_view_common_activities_select_date_form">
        <form method="post">
            {% csrf_token %}
            <ul id="hospital_admin_index_view_common_activities_select_date_form_list">
                <li>Start Date: <input type="datetime-local" name="start_date"></li>
                <li>End Date: <input type="datetime-local" name="end_date"></li>
            </ul>
            <input class="btn btn-info" type="submit" name="submit-select_date" value="Submit">
            <input class="btn btn-default" type="submit" name="back-select_date" value="Back">
        </form>
    </div>
</div>

{% endblock %}