{% extends 'healthnet/base.html' %}

{% block main_content %}

{% include "healthnet/header.html" %}

<div id="hospital_admin_index_view_system_statistics_errors_container" class="panel panel-info col-md-6">
    <div id="hospital_admin_index_view_system_statistics_errors_information" class="panel-heading">
        <h4 class="panel-title">Please enter both a start date and end date.</h4>
    </div>
    <br/>
    <div id="hospital_admin_index_view_system_statistics_errors_form">
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-default" type="submit" name="back-errors" value="Back">
        </form>
    </div>
</div>

{% endblock %}